<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101000499197-c760hquk3d8rig017ea1r59ia8phbvui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101000499197-c760hquk3d8rig017ea1r59ia8phbvui</string>
	<key>API_KEY</key>
	<string>AIzaSyCs8Zqe408tDWI4U4m3SojpTkx1GIpYOHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>101000499197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.flutterPedometer</string>
	<key>PROJECT_ID</key>
	<string>flutter-pedometer-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-pedometer-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101000499197:ios:7c1dff38a486b70768d394</string>
</dict>
</plist>